<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lot_number %><br>
    <%= f.text_field :lot_number %>
  </div>
  <div class="field">
    <%= f.radio_button(:unit_of_measure, "ml") %>
    <%= f.label("Milliliters") %>
    <%= f.radio_button(:unit_of_measure, "g") %>
    <%= f.label("Grams") %><br>
  </div>
  <div class="field">
    <%= f.label :manufactured_on %><br>
    <%= f.date_select :manufactured_on, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :expired_on %><br>
    <%= f.date_select :expired_on, :order => [:month, :day, :year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
