<!DOCTYPE html>
<html>
<head>
  <title>Harpoon</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <header>
  	 <%= link_to(image_tag("harpoon.png", alt: "Harpoon", title: "Harpoon", size: '200x38'), "/") %>
  </header>

  <%= yield %>

  <footer>
    <hr>
  </footer>
</div>

</body>
</html>
