<!DOCTYPE html>
<html>
<head>
  <title>Harpoon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <span id="homepage_link">
      <%= link_to "Homepage", root_path %>
    </span>

    <span>
      <% if session[:user_id] %>
        <%= link_to "Logout", root_path %>

      <% else %>
      <% end %>
    </span>
  </nav>

<%= yield %>

</body>
</html>
